In [5]:
%pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd
import xlrd
df = pd.read_excel('shiller_longrun_market_data.xls', sheet_name='Data')
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [18]:
#find the real price column
df.iloc[:,[5]].head(9)
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [ ]:
#you want these columns

column_names_to_be = [
    "date",
    "sp_price",
    "sp_dividend",
    "sp_real_price",
    "sp_real_dividend",
]

df = df[['Unnamed: 0','Unnamed: 1','Unnamed: 2', "Unnamed: 7", "Unnamed: 8"]]
df.columns = column_names_to_be

In [28]:
df = df.copy().iloc[7:,:]
df.head(12)

       date sp_price sp_dividend sp_real_price sp_real_dividend
7   1871.01     4.44        0.26    114.541036         6.707358
8   1871.02      4.5        0.26    112.649234         6.508622
9   1871.03     4.61        0.26    113.717822         6.413587
10  1871.04     4.74        0.26    121.353738         6.656534
11  1871.05     4.86        0.26    127.319383         6.811325
12  1871.06     4.82        0.26    128.260428         6.918612
13  1871.07     4.73        0.26    125.865523         6.918612
14  1871.08     4.79        0.26    129.501069         7.029286
15  1871.09     4.84        0.26    127.786229         6.864549
16   1871.1     4.59        0.26    119.321708         6.758964
17  1871.11     4.64        0.26    120.621509         6.758964
18  1871.12     4.74        0.26    120.441117         6.606475

In [29]:
df.to_csv('data_for_futures.csv')